<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <form>
                <p>*All fields are compulsory</p>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input [(ngModel)]="firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input [(ngModel)]="lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input [(ngModel)]="dob" type="date" class="form-control" id="dob" name="dob" placeholder="Birthday">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input [(ngModel)]="username" type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp"
                        placeholder="Username">
                    <small id="usernameHelp" class="form-text text-muted">Username should be unique. It will be used at the time of login.</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="email" type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">It will be used in case you forgot password.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input [(ngModel)]="confirmPassword" type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Re-enter Password">
                </div>
                <div class="form-group">
                    <label for="profilePic">Profile Picture</label>
                    <br>
                    <label class="custom-file">
                        <span class="custom-file-control"></span>
                        <input (change)="fileSelected($event)" type="file" id="profilePic" name="profilePic" class="custom-file-input" accept="image/png,image/jpg,image/jpeg">
                    </label>
                </div>
                <button (click)="submit()" type="submit" class="btn btn-primary">Signup</button>
            </form>
        </div>
    </div>
</div>