.row {
    padding: 20px 0px;
}
.profile-img {
    text-align: center;
    max-height: 200px;
}
.profile-img img {
    height: 100%;
}
span.tags {
    display: inline-block;
    width: 110px;
}
span.tags-data {
    display: inline-block;
    width: calc(100% - 120px);
}